<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	 <bean id="clientThread" class="com.netboy.netty.client.ClientThread" >
	    <property name="nettyClient" ref="nettyClient" />
	</bean>
    
	<bean id="nettyClient" class="com.netboy.netty.client.NettyClient" >
	    <property name="host" value="127.0.0.1" />
	    <property name="port" value="8080" />
	    <property name="handler" ref="clientHandler" />
	</bean>
	    
    <bean id="clientHandler" class="com.netboy.netty.handler.ClientHandler" />

</beans>